@model Car

<div class="col-lg-4">
    <img src="@Model.img" alt="@Model.name" />
    <h2>@Model.name</h2>
    <h2>@Model.shortDesc</h2>
    <p>Price: @Model.price.ToString("c")</p>
    <p><a class="btn btn-warning" href="#">More details</a></p>
</div>